<div class="main-container">
	<div class="content-container">
		<ng-container *ngIf="myJokes.length > 0; then filled; else empty;"></ng-container>

		<ng-template #filled>
			<button class="button left" (click)="jokeService.openDialog()">Dodaj</button>
			<div *ngFor="let joke of myJokes" class="my-joke-container">
				<p class="joke-category">kategoria: <b>{{joke.category}}</b></p>
				<p class="joke-content">{{joke.content}}</p>
				<button class="button delete" (click)="jokeService.openDialog(joke)">Usuń</button>
			</div>
		</ng-template>

		<ng-template #empty>
			<div class="center">
				<p>Nie masz jeszcze dodanych swoich żartow.</p>
				<button class="button" (click)="jokeService.openDialog()">Dodaj</button>
			</div>
		</ng-template>
	</div>
</div>