.container {
	max-width: 1440px;
	width: 100%;
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	// align-items: center;
	margin: 0 auto;
	background-color: var(--white);

	.content-container {
		max-width: 768px;
		width: 100%;
		height: calc(100vh - 200px);
		margin: 0 auto;

		.center {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: calc(100% - 100px);
			color: var(--grey)
		}

		.button {
			margin: calc(var(--content-margin) * 1.2) 0;
			background-color: var(--yellow);
			border: none;
			border-radius: 8px;
			font-weight: bold;
			cursor: pointer;
			width: 110px;
			height: 48px;

			@media screen and (max-width: 800px) {
				margin: var(--content-margin)
			}
		}

		.delete {
			float: right;
			background-color: var(--red);
			color: var(--white);
			margin: 0 var(--content-margin) var(--content-margin) 0;
		}

		.masonry-columns {
			display: flex;
			flex-flow: column wrap;
			justify-content: flex-start;
			align-content: space-between;
			height: calc(100vh - 200px);
			max-width: 377px;

			@media screen and (max-width: 800px) {
				flex-flow: column;
				align-items: center;
				justify-content: center;
				max-width: 650px;
				width: 100%;
				height: auto;
				margin: 0 auto;
			}
		}

		.my-joke-container {
			width: 100%;
			box-shadow: var(--background-tertiary-shadow);
			border-radius: 8px;
			margin: 0 var(--content-margin) var(--content-margin) 0;
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			@media screen and (max-width: 800px) {
				max-width: 90%;
				width: 100%;
				margin: 8px 16px;
			}

			.joke-category {
				text-align: right;
				padding: var(--content-margin);
			}

			.joke-content {
				width: 95%;
				text-align: center;
				padding: var(--content-margin);
			}
		}

		.my-joke-container:nth-of-type(10n+1) {
			order: 1;
		}

		.my-joke-container:nth-of-type(10n+2) {
			order: 2;
		}

		.my-joke-container:nth-of-type(10n+3) {
			order: 3;
		}

		.my-joke-container:nth-of-type(10n) {
			order: 4;
		}

		/* Force new columns */
		.break {
			flex-basis: 100%;
			width: 0;
			margin: 0;
			box-shadow: none;
		}
	}
}