<div class="main-container">
	<div *ngIf="pageState.loading" class="flex-center">
		<div class="spinner-container">
			<mat-spinner strokeWidth="3" [diameter]="40"></mat-spinner>
			<p>Ładuje ...</p>
		</div>
	</div>
	<div class="content-container" *ngIf="pageState.ready">
		<ng-container *ngIf="jokeService.listOfTempJokes.length > 0; then filled; else empty;"></ng-container>

		<ng-template #filled>
			<button class="button left" (click)="jokeService.openDialog()">Dodaj</button>
			<div *ngFor="let joke of jokeService.listOfTempJokes" class="my-joke-container">
				<p class="joke-category">kategoria: <b>{{joke.category}}</b></p>
				<p class="joke-content">{{joke.content}}</p>
				<button class="button delete" (click)="jokeService.openDialog(joke)">Usuń</button>
			</div>
		</ng-template>

		<ng-template #empty>
			<div class="center">
				<p>Nie masz jeszcze dodanych swoich żartow.</p>
				<button class="button" (click)="jokeService.openDialog()">Dodaj</button>
			</div>
		</ng-template>
	</div>
</div>