<div class="main-container">
	<div *ngIf="pageState.loading" class="flex-center">
		<div class="spinner-container">
			<mat-spinner strokeWidth="3" [diameter]="40"></mat-spinner>
			<p>Ładuje ...</p>
		</div>
	</div>

	<div class="content-container" *ngIf="pageState.ready">
		<button (click)="jokeService.openDialog()" class="button add">Dodaj</button>
		<div class="large-card">
			<div class="joke-category">
				<p>kategoria: <b>{{category}}</b></p>
			</div>
			<div class="joke-content">
				<p>{{currentSlide.content}}</p>
			</div>
		</div>
		<div class="nav-buttons">
			<button class="button nav" *ngIf="jokeIndex" (click)="prevJoke()">Pokaż poprzedni</button>
			<button class="button nav margin-left" *ngIf="jokeIndex < jokeService.jokeList.length - 1" (click)="nextJoke()">Pokaż następny</button>
		</div>
	</div>
</div>