<div class="main-container">
	<div *ngIf="pageState.loading" class="flex-center">
		<div class="spinner-container">
			<mat-spinner strokeWidth="3" [diameter]="40"></mat-spinner>
			<p>Ładuje ...</p>
		</div>
	</div>

	<div class="content-container" *ngIf="pageState.ready">
		<button (click)="jokeService.openDialog()" class="button add">Dodaj</button>
		<div class="large-card">
			<p class="action category-content">kategoria: <b>{{category}}</b></p>
			<p class="joke-content">{{currentSlide.content}}</p>
		</div>
		<div>
			<button class="button action" *ngIf="jokeIndex < jokeService.jokeList.length - 1" (click)="nextJoke()">Pokaż następny</button>
			<button class="button action" *ngIf="jokeIndex" (click)="prevJoke()">Pokaż poprzedni</button>
		</div>
	</div>
</div>