.content-container {
	max-width: 768px;
	width: 100%;
	height: calc(100vh - 80px);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 var(--content-margin);

	.button {
		margin-bottom: calc(var(--content-margin) * 2);
		background-color: var(--yellow);
		border: none;
		border-radius: 8px;
		font-weight: bold;
		cursor: pointer;
	}

	.add {
		float: left;
		width: 110px;
		height: 48px;
	}

	.action {
		width: 195px;
		height: 48px;
		float: right;
		margin: calc(var(--content-margin) * 2) 0 0 var(--content-margin)
	}

	.large-card {
		width: 100%;
		height: 50%;
		box-shadow: var(--background-tertiary-shadow);
		border-radius: 8px;

		.joke-content {
			margin: calc(var(--content-margin) * 10) var(--content-margin) 0 var(--content-margin);
			height: 100%;
			max-width: 748px;
			width: 100%;
			text-align: center;
		}

		.category-content {
			margin: calc(var(--content-margin) * 2)
		}
	}
}