.content-container {
	max-width: 768px;
	height: calc(100vh - 80px);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 var(--content-margin);

	.button {
		border: none;
		border-radius: 8px;
		font-weight: bold;
		cursor: pointer;
		background-color: var(--yellow);

		&.add {
			width: 110px;
			height: 48px;
		}

		&.nav {
			width: 195px;
			height: 48px;
		}
	}

	.nav-buttons {
		width: 100%;
		display: flex;
		justify-content: flex-end;

		@media screen and (max-width: 480px) {
			justify-content: center;
		}
	}

	.margin-left {
		margin-left: var(--content-margin)
	}


	.large-card {
		width: 100%;
		box-shadow: var(--background-tertiary-shadow);
		border-radius: 8px;
		min-height: 300px;
		max-height: fit-content;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin: calc(var(--content-margin) * 2) 0;

		.joke-category {
			text-align: right;
			margin: var(--content-margin);
		}

		.joke-content {
			height: 100%;
			margin: 0 var(--content-margin);
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}