<div class="main-container">
	<div class="content-container" *ngIf="currentSlide">
		<button (click)="jokeService.openDialog()" class="button add">Dodaj</button>
		<div class="large-card">
			<p class="action category-content">kategoria: <b>{{category}}</b></p>
			<p class="joke-content">{{currentSlide.content}}</p>
		</div>
		<div>
			<button class="button action" *ngIf="jokeIndex < jokes.length - 1" (click)="nextJoke()">Pokaż następny</button>
			<button class="button action" *ngIf="jokeIndex" (click)="prevJoke()">Pokaż poprzedni</button>
		</div>
	</div>
</div>